
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color:rgb(255, 165, 0);
}
section{
    display: flex;
}
.top-banner{
    background: url(./img/top-banner.png) no-repeat;
}
.header-container{
    width: 50%;
    padding: 5%;
}
.header-container h1{}
.header-container h3{}
.header-container p{

}
.header-pic{
    width: 40%;
    padding: 5%;
}
.header-pic img{
    width: 100%;
}
.btn{
    padding: 8px 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);
}
/* header part end */
/* dream part start */
.dream-section{}
.dream-img{
    width: 40%;
    padding: 5%;
}
.dream-img img{
    width: 100%;
}
.dream-content{
    width: 30%;
    padding: 5%;
}
.dream-content h1{}
/* dream part end */