
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    display: flex;
}
.top-banner{
  background-image: url(./img/top-banner.png);
  background-repeat: no-repeat;
  padding-bottom: 100PX;
  
}
.header-container{
    margin-top: 50px;
}
.header-container h1{
    font-size: 45px;
    margin: 9px 0px;
}
.orange-color{
    color: orange;
}
.half-with{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
 }
 .half-with p{
    color:dimgray;
 }
 .half-with img{
    width: 100%;
 }
 .btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
 }
 .dream{
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 100px;
 }
 .dream h2{
    font-size: 35px;

 }
 /* dream section end */

 /* experience section start */
 section.experience{
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 40px;
    height: 401px;
    margin-bottom: 200px;
 }
.experiences-content{
    display: flex;
    position: relative;
    top: -15px;
}
.card{
    box-shadow: 5px 8px 35px grey;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 5px solid tomato;
     
}
.card h1{
    font-size: 35px;
}
.ex{
    font-size: 40px;
    position: relative;
    bottom: 30px;
}
 footer p{
    text-align: center;
    color:dimgray
    
 }

 /*  experience section end */
 