
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    display: flex;
}
.top-banner{
  background-image: url(./img/top-banner.png);
  background-repeat: no-repeat;
  padding-bottom: 100PX;
  
}
.header-container{
    margin-top: 50px;
}
.header-container h1{
    font-size: 45px;
    margin: 9px 0px;
}
.orange-color{
    color: orange;
}
.half-with{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
 }
 .half-with p{
    color:dimgray;
 }
 .half-with img{
    width: 100%;
 }
 .btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
 }
 .dream h2{
    font-size: 35px;

 }
 